# Деплой APK на android.haulz.space (отдельный Timeweb-сервер)
#
# ANDROID_RELEASE_SSH=root@YOUR_SERVER_IP
# ANDROID_RELEASE_HOST=android.haulz.space
# ANDROID_RELEASE_DIR=/var/www/android.haulz.space
# ANDROID_RELEASE_NOTES=Исправлен вход в приложении
