# Деплой APK на app.haulz.space (Timeweb 200.165.236.49)
#
# ANDROID_RELEASE_SSH=root@200.165.236.49
# ANDROID_RELEASE_HOST=app.haulz.space
# ANDROID_RELEASE_DIR=/var/www/app.haulz.space
# ANDROID_RELEASE_NOTES=Исправлен вход, баннер обновлений
